table.items {
    text-align: left;
    border-collapse: collapse;
    overflow-y: auto;

    line-height: 2em;
}

.pageHead {
    padding-top: 1em;
    padding-bottom: .5em;

    text-align: center;

    font-size: 2.5em;
    font-weight: bold;
}

.pageSubHead {
    text-align: center;
    font-size: 1.25em;
    line-height: 1.5em;

    padding-bottom: 2.5em;
}

.header {
    font-size: 1em;
    font-weight: bold;
    border-bottom: thin solid black;
}

td.delete {
    text-align: center;
    font-size: 1.25em;
}

tr.header > td {
    padding: 0 0 .25em;
    line-height: normal;
    font-size: inherit;
}


footer {
    position: fixed;
    bottom: 1.5em;
    width: 100%;

    text-align: center;
}

button {
    font-size: 1em;

    width: 10em;
    height: 2.5em;

    text-align: center;
}

button.complete_button {
    margin: 0 7em 1.25em;
}

#error {
    text-align: center;
    color: red;
    font-size: 1em;
}

.error {
    margin-top: -1.5em;
}

.comments {
    width: 100%;
    max-width: 24em;
    height: 1.5em;

    margin-top: .5em;
}

#supervisor_pin {
    text-align: center;
}