body {
    font-size: 1.5em;
}

h1, h2 {
    text-align: center;
    padding-bottom: 1em;
}

.header {
    font-size: 1em;
    font-weight: bold;
    border-bottom: thin solid black;
}

td.button {
    text-align: center;
    font-size: 1.25em;
}

tr.header > td, th {
    padding: 0 0 .25em;
    line-height: normal;
    font-size: inherit;
    text-align: center;
}

.pageHead {
    padding-top: .5em;
    padding-bottom: .75em;

    text-align: center;

    font-size: 2.5em;
    font-weight: bold;
}

.pageSubHead {
    text-align: center;
    font-size: 1.25em;
    line-height: 1.5em;

    padding-bottom: 1.5em;
}

table {
    max-width: 750px;
    text-align: center;
    width: 100%;

    align-items: center;
    margin: 0 auto;
}

button {
    margin-left: 1.5em;
    margin-right: 1.5em;
}

button.add {
    margin: 2.5em auto auto;
}

#list {
    text-align: center;
}

input {
    margin-left: .5em;
}

#comments {
    padding-top: 1em;
    font-style: italic;
}

tr.buttonBar td {
    padding-top: 2em;
}

.inputBox {
    align-items: center;

    height: 1.5em;
    width: 10em;

    font-size: 1em;
    text-align: center;

    background: lightgray;
    border: 1px solid black;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;

    margin: .25em 1em 0;
}

#createUser, #createItem td {
    padding-top: .25em;
    padding-bottom: .25em;
}
#createUser select {
    margin-left: .4em;
}

.fa-spinner {
    font-size: 5em;
    color: #333333;
}

td, th {
    padding: .5em;
}